@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    line-height: 1.5;
    font-size: 14.5px;
  }

  img {
    object-fit: contain;
  }
}

@layer components {
  .wrapper {
    /* limit content while allowing background color to grow horizontally */
    @apply m-auto max-w-6xl;
  }
}
